/* variables */
:root {
  --base-color: #26281c;
  --second-color: #d5cec3;
  --third-color: #6e796c;
  --fourth-color: #888d81;
  --fifth-color: #b55b33;
  --sixth-color: rgba(38, 40, 28, 0.5);
}

/* general */
* {
    box-sizing: border-box;
}

.wrapper {
    width: 90vw;
    max-width: 1250px;
    padding: 0.5rem;
    margin: 0 auto;
    line-height: 1.5;
    font-family: 'Open Sans', sans-serif;
}

/* header */
.header {
    padding: 1rem 0;
    background: var(--sixth-color);
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1;
}

.header-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.logo {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.header a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--second-color);
    transition: 0.3s;
}

.header a:hover {
    color: var(--third-color);
}

.navigation ul {
    display: flex;
}

.navigation li {
    margin-left: 1.5rem;
    list-style: none;
}

.navigation li:first-of-type {
    margin-left: 0;
}

/* hero */
.hero {
    height: 80vh;
    background: url("../img/mushroom.jpg") no-repeat center/cover;
}

.hero-wrapper {
    width: 100vw;
    height: 80vh;
    color: var(--second-color);
    font-size: 1.2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h2 {
    margin: 0;
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: 1.2px;
}

.hero-btn {
    padding: 0.5rem 2rem;
    font-size: 1rem;
    color: var(--second-color);
    background: var(--sixth-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.hero-btn:hover {
    background: var(--base-color);
}

/* media queries*/
@media only screen and (min-width: 700px) {
    /* header */
    .header-wrapper {
        flex-direction: row;
    }

    /* hero */
    .hero-wrapper {
        width: 40vw;
    }

}
