/* variables */
:root {
  --base-color: #26281c;
  --second-color: #fff;
  --third-color: #64a43c;
  --fourth-color: #888d81;
  --fifth-color: #D2A167;
  --sixth-color: rgba(38, 40, 28, 0.5);
}

/* general */
* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    scroll-behavior: smooth;
}

.wrapper {
    width: 90vw;
    max-width: 1250px;
    padding: 0.5rem;
    margin: 0 auto;
    line-height: 1.5;
    color: var(--base-color);
    font-family: 'Open Sans', sans-serif;
}

/* ukrycie tekstu przy ikonach */
.sr-only {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    overflow: hidden !important;
    margin: -1px !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
}

/* header */
.header {
    width: 100vw;
    padding: 0;
    background: var(--sixth-color);
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1;
}

.header-wrapper {
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.logo {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.header-wrapper a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--second-color);
    -webkit-transition: color 0.6s;
    -o-transition: color 0.6s;
    transition: color 0.6s;
}

.header-wrapper a:hover {
    color: var(--fifth-color);
}

.navigation ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.navigation li {
    margin-left: 1.5rem;
    font-size: 0.8rem;
    list-style: none;
}

.navigation li:first-of-type {
    margin-left: 0;
}

/* hero */
.hero {
    height: 80vh;
    background: url("../img/mushroom.jpg") no-repeat center/cover;
    margin-bottom: 3rem;
}

.hero-wrapper {
    width: 100vw;
    height: 80vh;
    color: var(--second-color);
    font-size: 1.2rem;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-animation-name: show;
            animation-name: show;
    -webkit-animation-duration: 4s;
            animation-duration: 4s;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
}

.hero-header {
    margin: 0;
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: 1.2px;
}

.hero-btn {
    margin-top: 1rem;
    padding: 0.6rem 2.5rem;
    font-size: 1rem;
    text-decoration: none;
    color: var(--base-color);
    background: var(--second-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    -webkit-transition: background 0.6s;
    -o-transition: background 0.6s;
    transition: background 0.6s;
}

.hero-btn:hover {
    background: var(--fifth-color);
}

/* about us */
.about-us {
    margin-bottom: 3rem;
}

.about-us-wrapper {
    padding: 2.5rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.about-us-info {
    width: 100vw;
    padding: 1rem;
}

.about-us-info-header {
    margin: 0 0 2rem 0;
    font-size: 1.5rem;
    text-transform: uppercase;
    position: relative;
}

.about-us-info-header::before {
    content: "";
    width: 30%;
    border: 1.5px solid var(--base-color);
    position: absolute;
    bottom: -10px;
}

.about-us-benefits {
    width: 100vw;
    padding: 1rem;
}

.about-us-benefits-header {
    margin: 0;
    font-size: 1.5rem;
}

.about-us-list {
    padding: 0;
    line-height: 2;
    list-style: none;
}

.about-us-list span {
    margin-right: 0.5rem;
}

/* gallery */
.gallery {
    margin-bottom: 3rem;
}

.gallery-header {
    font-size: 1.5rem;
    text-align: center;
    text-transform: uppercase;
}

.gallery-wrapper {
    display: flex;
    flex-direction: column;
}

.gallery-wrapper img {
    width: 100%;
    margin: 0;
}

/* contact */
.contact {
    margin-bottom: 3rem;
}

.contact-header {
    font-size: 1.5rem;
    text-align: center;
    text-transform: uppercase;
}

.contact-wrapper {
    padding: 1.5rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.form {
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.form label {
    padding: 1rem 0 0.2rem 0;
}

.form label:first-of-type {
    padding-top: 0;
}

.form input {
    width: 80%;
}

.message {
    width: 80%;
    height: 20vh;
    margin-bottom: 2rem;
    resize: vertical;
}

.submit {
    padding: 0.6rem 2.5rem;
    font-size: 1rem;
    background: var(--fifth-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    -webkit-transition: background 0.6s;
    -o-transition: background 0.6s;
    transition: background 0.6s;
}

.submit:hover {
    background: var(--third-color);
}

.contact-info {
    width: 100vw;
    padding: 2.5rem 0;
    position: relative;
}

.contact-info::after {
    content: "";
    height: 100%;
    border: none;
    position: absolute;
    top: 0;
    left: -2rem;
}

.contact-info p {
    margin: 0;
    line-height: 2;
    font-style: normal;
}

.contact-info a {
    color: var(--base-color);
    text-decoration: none;
}

.back-to-top {
    width: 50px;
    height: 50px;
    font-size: 2rem;
    border: 1px solid var(--sixth-color);
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    bottom: -2rem;
    left: 0;
}

.back-to-top span {
    color: var(--base-color);
    -webkit-transition: color 0.6s;
    -o-transition: color 0.6s;
    transition: color 0.6s;
}

.back-to-top span:hover {
    color: var(--third-color);
}

/* footer */
.footer {
    background: var(--base-color);
}

.footer-wrapper {
    color: var(--second-color);
    line-height: 2.5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.social-icons span {
    margin-left: 1rem;
    font-size: 1.5rem;
    color: var(--second-color);
    -webkit-transition: color 0.6s;
    -o-transition: color 0.6s;
    transition: color 0.6s;
}

.social-icons a:hover span {
    color: var(--third-color);
}

.social-icons:first-child {
    margin-left: 0;
}

/* media queries*/
@media only screen and (min-width: 700px) {
    /* header */
    .header-wrapper {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    }

    .navigation li {
        font-size: 1rem;
    }

    .navigation li:last-of-type {
        margin-right: 1rem;
    }

    /* hero */
    .hero-wrapper {
        width: 40vw;
    }

    /* about-us */
    .about-us-wrapper {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    }

    .about-us-info {
        width: 40vw;
    }

    .about-us-benefits {
        width: 40vw;
    }

    /* gallery */
    .gallery-wrapper {
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .gallery-wrapper img {
        height: 200px;
        width: 20rem;
        /* width: ; */
        margin: 0.5rem;
    }

    /* contact */
    .contact-wrapper {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    }

    .form {
        width: 70vw;
    }

    .contact-info {
        width: 30vw;
    }

    .contact-info::after {
        border: 0.5px solid var(--fourth-color);
    }

    .back-to-top {
        bottom: 0;
        right: 0;
        left: auto;
    }

    /* footer */
    .footer-wrapper {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    }

    .social-icons a {
        text-decoration: none;
    }

    .social-icons span {
        margin-left: 0.5rem;
    }
}

@media only screen and (max-width: 700px) {
    /* header */
    .navigation ul {
        line-height: 2;
        padding: 0;
    }

    .navigation li {
        font-size: 0.9rem;
        margin-left: 1rem;
    }
}

/* animations */
@-webkit-keyframes show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
